@using ParseTry.Main
@{
	ViewData["Title"] = "Home Page";
}

@model SearchingClass

<div>
	<div>
		<div>
			<form method="post">
				<div>
					<select asp-for="Type">
						<option value="">All types</option>
						<option value="Knives">Knives</option>
						<option value="Gloves">Gloves</option>
						<option value="Rifles">Rifles</option>
						<option value="Sniper Rifles">Sniper Rifles</option>
						<option value="Pistols">Pistols</option>
						<option value="SMGs">SMGs</option>
						<option value="Shotguns">Shotguns</option>
						<option value="Machineguns">Machineguns</option>
						<option value="Sticker">Stickers</option>
						<option value="Agent">Agents</option>
						<option value="Music kits">Music kits</option>
						<option value="Weapon Cases">Weapon Cases</option>
						<option value="Collectibles">Collectibles</option>
						<option value="Passes">Passes</option>
						<option value="Gifts">Gifts</option>
						<option value="Tools">Tools</option>
						<option value="Patch">Patches</option>
						<option value="Spray">Sprays</option>
					</select>
				</div>
				<div>
					<select asp-for="Exterior">
						<option value="">All exteriors</option>
						<option value="Factory New">Factory New</option>
						<option value="Minimal Wear">Minimal Wear</option>
						<option value="Field-Tested">Field-Tested</option>
						<option value="Well-Worn">Well-Worn</option>
						<option value="Battle-Scarred">Battle-Scarred</option>
					</select>
				</div>
				<div>
					<select asp-for="Sort">
						<option value="">Order By</option>
						<option value="order">Market popularity</option>
						<option value="orderDescending">Market popularity descending</option>
					</select>
				</div>
				<div>
					<label asp-for="minPrice">Minimum Price</label>
					<input type="number" min="0.1" max="10000000" step="0.1" asp-for="minPrice" placeholder="@ViewBag.FilterArgs.minPrice" value="@ViewBag.FilterArgs.minPrice" />
					-
					<label asp-for="maxPrice">Maximum Price</label>
					<input type="number" min="0.1" max="10000000" step="0.1" asp-for="maxPrice" placeholder="@ViewBag.FilterArgs.maxPrice" value="@ViewBag.FilterArgs.maxPrice" />
				</div>
				<div>
					<label asp-for="minBM">Min BM</label>
					<input type="number" min="0.01" max="100" step="0.01" asp-for="minBM" placeholder="@ViewBag.FilterArgs.minBM" value="@ViewBag.FilterArgs.minBM" />
					-
					<label asp-for="maxBM">Max BM</label>
					<input type="number" min="0.01" max="100" step="0.01" asp-for="maxBM" placeholder="@ViewBag.FilterArgs.maxBM" value="@ViewBag.FilterArgs.maxBM" />
				</div>
				<div>
					<label asp-for="minMB">Min MB</label>
					<input type="number" min="0.01" max="100" step="0.01" asp-for="minMB" placeholder="@ViewBag.FilterArgs.minMB" value="@ViewBag.FilterArgs.minMB" />
					-
					<label asp-for="maxMB">Max MB</label>
					<input type="number" min="0.01" max="100" step="0.01" asp-for="maxMB" placeholder="@ViewBag.FilterArgs.maxMB" value="@ViewBag.FilterArgs.maxMB" />
				</div>
				<button type="submit" asp-controller="Home" asp-action="Index">Применить</button>
				<button type="submit" asp-controller="Home" asp-action="Index" asp-route-reset="Reset">Сброс</button>
			</form>
		</div>
		<div>
			<h5>
				Total pages: @ViewBag.IndexViewModel.PageViewModel.TotalPages
				Total count: @ViewBag.IndexViewModel.PageViewModel.TotalCount
			</h5>
		</div>
		<div>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Image</th>
						<th scope="col">Name (Steam)</th>
						<th scope="col">Buff price (URL)</th>
						<th scope="col">Market price (URL)</th>
						<th scope="col">Buff popularity</th>
						<th scope="col">Market popularity</th>
						<th scope="col">BM</th>
						<th scope="col">MB</th>
					</tr>
				</thead>
				<tbody>
					@foreach (ResultItem skin in ViewBag.IndexViewModel.Items)
					{
						<tr>
							<td><img width="50px" height="50px" src="@skin.buff_original_icon_url" /></td>
							<td><a href="@skin.buff_steam_market_url" target="_blank">@skin.hash_name</a></td>
							<td><a href="@skin.buff_url_buff" target="_blank">@skin.buff_sell_min_price</a></td>
							<td><a href="@skin.market_url" target="_blank">@skin.market_price</a></td>
							<td>@skin.buff_sell_num</td>
							<td>@skin.market_popularity_7d</td>
							<td>@skin.pricesBM</td>
							<td>@skin.pricesMB</td>
						</tr>
					}
				</tbody>
			</table>
			@if (ViewBag.IndexViewModel.PageViewModel.HasPreviousPage)
			{
				<a asp-action="Index"
				   asp-route-page="@(ViewBag.IndexViewModel.PageViewModel.PageNumber - 1)"
				   class="btn btn-outline-dark">
					<i class="glyphicon glyphicon-chevron-left"></i>
					Назад
				</a>
			}
				<a asp-action="Index"
				   asp-route-page="1"
				   class="btn btn-outline-dark">
					<i class="glyphicon glyphicon-chevron-left"></i>
					1
				</a>
			@if (!ViewBag.IndexViewModel.PageViewModel.HasPreviousPage)
			{
				<text>...</text>
			}

			@if (ViewBag.IndexViewModel.PageViewModel.PageNumber > 1 && ViewBag.IndexViewModel.PageViewModel.PageNumber < ViewBag.IndexViewModel.PageViewModel.TotalPages)
			{
				@if (ViewBag.IndexViewModel.PageViewModel.PageNumber > 2)
				{
					<text>...</text>				
				}
				<a asp-action="Index"
				   asp-route-page="ViewBag.IndexViewModel.PageViewModel.PageNumber"
				   class="btn btn-outline-dark">
					<i class="glyphicon glyphicon-chevron-left"></i>
					@ViewBag.IndexViewModel.PageViewModel.PageNumber
				</a>
				@if (ViewBag.IndexViewModel.PageViewModel.PageNumber < ViewBag.IndexViewModel.PageViewModel.TotalPages - 1)
				{
					<text>...</text>
				}
			}
			@if (!ViewBag.IndexViewModel.PageViewModel.HasNextPage)
			{
				<text>...</text>
			}

				<a asp-action="Index"
				   asp-route-page="@(ViewBag.IndexViewModel.PageViewModel.TotalPages)"
				   class="btn btn-outline-dark">
					@ViewBag.IndexViewModel.PageViewModel.TotalPages
					<i class="glyphicon glyphicon-chevron-right"></i>
				</a>
			@if (ViewBag.IndexViewModel.PageViewModel.HasNextPage)
			{
				<a asp-action="Index"
				   asp-route-page="@(ViewBag.IndexViewModel.PageViewModel.PageNumber + 1)"
				   class="btn btn-outline-dark">
					Вперед
					<i class="glyphicon glyphicon-chevron-right"></i>
				</a>
			}

		</div>
	</div>
</div>